# Ignore build artifacts
build/
dist/
# Ignore test coverage reports
coverage/
# Ignore the .vscode directory and its settings.
.vscode/
# Ignore node_modules and IDE-specific files
node_modules/
# Ignore environment variable files and npm configuration
.npmrc
# Ignore log files and temporary files
*.log
# Ignore OS-specific files
.DS_Store
# Ignore clasp configuration files
.clasp.json
# Ignore package-lock.json.
package-lock.json